
<center>

  <h2>Base Ball Statistics</h2>
</center>
<div class="container">
  <table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>
          <%= link_to "PLAYER #{arrow :player_name}", "#", data: { column_name: :player_name, order_by: direction }, class: column_css(:player_name) %>
        </th>
        <th>
          <%= link_to "AVG #{arrow :avg}", "#", data: { column_name: :avg, order_by: direction }, class: column_css(:avg) %>
        </th>
        <th>
          <%= link_to "HR #{arrow :hr}", "#", data: { column_name: :hr, order_by: direction }, class: column_css(:hr) %>
        </th>
        <th>
          <%= link_to "RBI #{arrow :rbi}", "#", data: { column_name: :rbi, order_by: direction }, class: column_css(:rbi) %>
        </th>
        <th>
          <%= link_to "RUNS #{arrow :runs}", "#", data: { column_name: :runs, order_by: direction }, class: column_css(:runs) %>
        </th>
        <th>
          <%= link_to "SBS #{arrow :sbs}", "#", data: { column_name: :sbs, order_by: direction }, class: column_css(:sbs) %>
        </th>
        <th>
          <%= link_to "OPS #{arrow :ops}", "#", data: { column_name: :ops, order_by: direction }, class: column_css(:ops) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @base_ball_stats.each_with_index do |stat,i|%>
        <tr>
          <th><%= stat.player_name %></th>
          <td><%= stat.avg.round(2) %></td>
          <td><%= stat.hr %></td>
          <td><%= stat.rbi %></td>
          <td><%= stat.runs %></td>
          <td><%= stat.sbs %></td>
          <td><%= stat.ops %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>

</div>
<script>
  $('.column-sort').click(function(){
    //to get sorted data
    column_name = $(this).data("column-name")
    order_by = $(this).data("order-by")
    document.location.href = "?column_name="+column_name+"&order_by="+order_by
  })
</script>